- content_for :head do
  = "- #{params[:repo_name]} > #{params[:path]}"

.col-sm-12
  %h1.page-header #{ params[:path].split("/").last}
  %p
    #{link_to params[:repo_name],  studio_connection_show_repo_path(params[:studio_connection_id], params[:repo_name])}
    > #{params[:path]}
.col-sm-12
  %table.table
    %thead
      %tr
        %th.col-sm-8 Object
        %th.col-sm-2 Updated
        %th.col-sm-2 By
    %tbody#repo-content
      %tr#loading-content
        %td
          %i.fa.fa-cog.fa-spin
          Loading Content...
.col-sm-12
  %h2.page-header Object Info
  #object-info
    %i.fa.fa-cog.fa-spin
    Loading Content...
.col-sm-12
  %h2.page-header History
  %table.table
    %thead
      %tr
        %th.col-sm-2 Date
        %th.col-sm-8 Action
        %th.col-sm-2 By
    %tbody#history-content
      %tr
        %td{ :colspan => 3}
          %i.fa.fa-cog.fa-spin
          Loading Content...
