- content_for :head do
  = "- #{params[:repo_name]}"

.col-sm-12
  %h1.page-header #{params[:repo_name]}
  %ul.nav.nav-tabs.nav-justified
    %li
      %a{ :role => "presentation", :href => studio_connection_show_repo_path(params[:studio_connection_id], params[:repo_name])} Repository
    %li.active
      %a{ :role => "presentation", :href=>  studio_connection_repo_stats_path(params[:studio_connection_id], params[:repo_name])} Statistics
    %li
      %a{ :role => "presentation", :href=>  studio_connection_conformity_path(params[:studio_connection_id], params[:repo_name])} Conformity
  %br
  #repo-stats-chart{ :style => "height: 80vh" }
  %table.table.table-hover
    %thead
      %tr
        %th Propoerty
        %th Count
        %th Category
    %tbody
      - @stats.each do |line|
        %tr
          %td #{ link_to line[:ENTITY], studio_connection_repo_object_stats_path(params[:studio_connection_id], params[:repo_name], line[:ENTITY_TBL])}
          %td #{ line[:ENTITY_COUNT].to_i}
          %td #{ line[:ENTITY_CAT]}
