- @repositories.each do |repo|
  %tr
    %td #{ link_to repo[:PROJECT], studio_connection_show_repo_path(params[:studio_connection_id], repo[:PROJECT]) }
    %td #{ repo[:MODEL_VERSION] }
    %td #{ repo[:MODIFY_DATE]}
    %td #{ repo[:COORDINATE_SYSTEM]}
    %td #{ repo[:OWNER]}
