- content_for :head do
  = "- #{@connection.oracle_instance} > #{params[:repo_name]}"

.col-sm-12
  %h1.page-header #{params[:repo_name]}
  %ul.nav.nav-tabs.nav-justified
    %li.active
      %a{ :role => "presentation", :href => studio_connection_show_repo_path(params[:studio_connection_id], params[:repo_name])} Repository
    %li
      %a{ :role => "presentation", :href=>  studio_connection_repo_stats_path(params[:studio_connection_id], params[:repo_name])} Statistics
    %li
      %a{ :role => "presentation", :href=>  studio_connection_conformity_path(params[:studio_connection_id], params[:repo_name])} Conformity
    %li
      %a{ :role => "presentation", :href=>  studio_connection_repo_users_path(params[:studio_connection_id], params[:repo_name])} Users
  %br
  %ol.breadcrumb
    %li
      #{link_to StudioConnection.find(params[:studio_connection_id]).oracle_instance, studio_connection_path(params[:studio_connection_id])}
    %li.active /
  .table-responsive
    %table.table.table-hover.sortable
      %thead
        %tr
          %th.col-sm-8 Object
          %th.col-sm-2 Updated
          %th.col-sm-2 By
      %tbody#repo-content
        %tr#loading-content
          %td
            %i.fa.fa-cog.fa-spin
            Loading Content...
