- content_for :head do
  = "- #{@connection.oracle_instance} - Users"

.col-sm-12
  %h1.page-header Users
  %ol.breadcrumb
    %li.active
      #{StudioConnection.find(params[:studio_connection_id]).oracle_instance}
  = render :template => "studio_connections/browse_header.template", :locals => { :active => "users"}
  = render :template => "studio_connections/users.template", :locals => { :'@users' => @users}
