.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th
        %th User
        %th Name
        %th Email
        %th Created
    %tbody
      - @users.each do |user|
        %tr
          %td
            %a{ :href => "##{user[:ACCOUNT]}", :data => { :toggle => 'collapse'}, :role => 'button'}
              %i.fa.fa-toggle-down
          %td #{ user[:ACCOUNT] }
          %td #{ user[:FIRST_NAME]} #{ user[:LAST_NAME]}
          %td #{ user[:EMAIL_ADDRESS]}
          %td #{ user[:CREATE_DATE]}
        %tr.collapse{ :id => user[:ACCOUNT] ,
          :data => { :load => studio_connection_user_path(params[:studio_connection_id], user[:ACCOUNT], :format => 'template')} }
