.col-sm-12
  %h1.page-header Version Statistics
  %ol.breadcrumb
    %li.active
      #{StudioConnection.find(params[:studio_connection_id]).oracle_instance}
= render :template => "studio_connections/browse_header.template", :locals => { :active => "model-version"}

  %div#version-stat-graph
  %table.table.table-responsive
    %thead
      %tr
        %th
        %th Model Version
        %th Model Count
    %tbody
      - @result_ver.each do |line|
        %tr
          %td
            %a{ :href => "#", :data => { :time =>  line[:MODEL_VERSION].to_i }}
              %i.fa.fa-toggle-down
          %td #{ line[:MODEL_VERSION]}
          %td #{ line[:MODEL_COUNT].to_i}
      - @result_ver_count.each do |line2|
        %tr
          %td
          %td 
            %strong Total
          %td #{ line2[:TOTAL_COUNT].to_i}
