- content_for :head do
  = "- Settings > Credentials"
.col-sm-12
  %h1.page-header Credentials
  %ul.breadcrumb
    %li
      %a{ :href => settings_path} Settings
    %li.active
      Credentials
.col-sm-12
  %p If you are an admin, you don't need this because it will use sks_admin to browse the data. Otherwise, key you studio DB credentials
.col-sm-12
  = form_tag user_update_credentials_path(current_user) do
    - @connections.each do |connection|
      .panel.panel-default
        .panel-heading
          #{ connection.oracle_instance }
        .panel-body
          - credential =  @credentials.select{ |x| x.studio_connection_id == connection.id }.first
          - credential = credential.nil? ? current_user.user_credentials.new : credential
          .form-group.col-sm-12.col-md-6
            %input{ :type => 'hidden', :value => connection.id, :name => "credentials[#{connection.id}][id]" }
            %label Username
            %input.form-control{ :type => 'text', :placeholder => 'Username', :name => "credentials[#{connection.id}][username]",
              :value => credential.username }
            %label Password
            %input.form-control{ :type => 'password', :placeholder => 'Password', :name => "credentials[#{connection.id}][password]",
              :value => credential.password}
    %button.btn.btn-primary{:type => 'submit'} Update
    %a.btn.btn-default{ :href => settings_path } Cancel
