- content_for :head do
  = "- Settings"
.col-sm-12
  %h1.page-header Local Settings
  = render :template => "settings/interface.template", :locals => { :target_picture => "images/settings-credentials.jpg",
    :target_path => user_credentials_path(current_user), :target_name => 'Credentials'}
- if current_user.username == ENV["default_admin"] || current_user.admin? then
  .col-sm-12
    %h1.page-header Master Settings
    = render :template => "settings/interface.template", :locals => { :target_picture => "images/settings-conn.png",
      :target_path => connections_settings_path, :target_name => 'Connections'}
    = render :template => "settings/interface.template", :locals => { :target_picture => "images/settings-stats.png",
      :target_path => statistics_path, :target_name => 'Statistics'}
    = render :template => "settings/interface.template", :locals => { :target_picture => "images/settings-indexes.png",
      :target_path => indexes_settings_path , :target_name => 'Indexes'}
    = render :template => "settings/interface.template", :locals => { :target_picture => "images/settings-admins.jpg",
      :target_path => admins_settings_path, :target_name => 'Admins'}
